*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.main{
    height: 100%;
    width: 100%;
}
.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #494d5f;
    padding: 0.5vw 2vw;
}

.cas{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 0 10px;
    background-color: white;
}
.swiper {
    width: 100%;
    height: 100vh;
    border-radius: 0.5rem;
  }
  .swiper-slide {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding: 20px 10px;
    display: flex;
    justify-content: start;
    align-items: end;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media screen and (max-width:639px){
    .has{
        display: none;
    }
    .here{
        width: 90vw;
    }
    .ultra{
        display: none;
    }
    .mother{
        display: none;
    }
    
}